version: '3'
services: 
  db:
    image: postgres:13-alpine
    restart: always
    volumes:
      - "./.persistence/db:/var/lib/postgresql/data"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
  
  redis:
    image: redis:6-alpine
    restart: always
    ports: 
      - 6379:6379

  web:
    build:
      context: .
      dockerfile: Dockerfile.web.dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes: 
      - "./catfood:/code/catfood:rw"
    ports:
      - 8000:8000
    depends_on:
      - db
      - redis 
